version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:lts-jdk21  # LTS ổn định + Java 21
    # Hoặc jenkins/jenkins:jdk21 cho weekly mới nhất
    # Hoặc jenkins/jenkins:jdk25 nếu muốn Java 25
    container_name: jenkins
    restart: unless-stopped
    privileged: true
    user: root
    ports:
      - 8081:8080
      - 50000:50000
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker  # Giữ nguyên để docker command work

volumes:
  jenkins_home: